@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>Weather App by David Etzel</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body onload="getGeoLocation();">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                Weather API
            </h2>
        </div>
        <div class="row table-bordered">
            <div id="location"></div>
        </div>
        <div id="error"></div>
        <div class="row">
            <div class="col-md-6 table-bordered">
                <div id="ctemp"></div>
                <div id="csummary"></div>
                <div id="cwind"></div>
                <div id="chumid"></div>
                <div id="cprecip"></div>
            </div>
            <div class="col-md-6 table-bordered">
                <img class="img-fluid" id="weatherIcon" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div id="day0" class="col-md-3 table-bordered"></div>
                    <div id="day1" class="col-md-3 table-bordered"></div>
                    <div id="day2" class="col-md-3 table-bordered"></div>
                    <div id="day3" class="col-md-3 table-bordered"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div id="day4" class="col-md-3 table-bordered"></div>
                    <div id="day5" class="col-md-3 table-bordered"></div>
                    <div id="day6" class="col-md-3 table-bordered"></div>
                    <div id="day7" class="col-md-3 table-bordered"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div id="hour0" class="col-md-3 table-bordered"></div>
                    <div id="hour1" class="col-md-3 table-bordered"></div>
                    <div id="hour2" class="col-md-3 table-bordered"></div>
                    <div id="hour3" class="col-md-3 table-bordered"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div id="hour4" class="col-md-3 table-bordered"></div>
                    <div id="hour5" class="col-md-3 table-bordered"></div>
                    <div id="hour6" class="col-md-3 table-bordered"></div>
                    <div id="hour7" class="col-md-3 table-bordered"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="//code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script>
    function getIcon(iconValue) {
        switch (iconValue) {
            case 'clear-day':
                return "/images/SunnyDay.png";
            case 'cloudy':
            case 'partly-cloudy-day':
                return "/images/MostlySunny.png";
            case 'clear-night':
                return "/images/ClearMoon.png";
            case 'partly-cloudy-night':
                return "/images/CloudyMoon.png";
            case 'rain':
                return "/images/Rain.png";
            case 'snow':
                return "/images/SNOW.png";
            case 'sleet':
                return "/images/Sleet.png";
            default:
                return "/images/SunnyDay.png";
        }
    }

    function getGeoLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, fail);
        }
        else {
            alert("Your browser doesn't support geolocation.");
        }
    };

    function success(position) {
        fetchLocation(position.coords.latitude, position.coords.longitude);
        $.ajax({
            type:"Post",
            url: '/Home/GetWeather',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                latitude: position.coords.latitude,
                longitude: position.coords.longitude
            }),
            datatype: "json",
            success: function (data) {
                document.getElementById("ctemp").innerHTML = Math.round(data.currently.temperature) + "&deg";
                document.getElementById("csummary").innerHTML = data.currently.summary;
                document.getElementById("cwind").innerHTML = "Wind Speed is " + Math.round(data.currently.windSpeed) + "mph";
                document.getElementById("chumid").innerHTML =`Humidity is ${Math.round(data.currently.humidity * 100)}%`;
                document.getElementById("cprecip").innerHTML = "The chance of precipitation "+Math.round(data.currently.precipProbability * 100)+"%";
                document.getElementById("weatherIcon").src = getIcon(data.currently.icon);
                var target = -1;
                for (var i = 0; i < 8; i++)
                {
                    target += 1;
                    var dayId = "day" + target.toString();
                    var day = data.daily.data[i];
                    var hourId = "hour" + target.toString();
                    var hour = data.hourly.data[i];
                    document.getElementById(dayId).innerHTML = convertDay(day.time) + "<br/>"+ Math.round(day.temperatureHigh)+"&deg" +"<br/>"+ day.summary;
                    document.getElementById(hourId).innerHTML = convertHour(hour.time) + "<br/>" + Math.round(hour.temperature) + "&deg" + "<br/>" + hour.summary;
                }
            },
            error: function (error) {
                document.getElementById("error").innerHTML = error.responseText;
            }
        });
    };

    function fail() {
        alert("Your browser doesn't support geolocation.");
    };

    function fetchLocation(latitude, longitude) {
        var googleLink ="https://maps.googleapis.com/maps/api/geocode/json?latlng=" + latitude + "," + longitude + "&key=**GOOGLE API KEY GOES HERE**";
        fetch(googleLink)
            .then(response => {
                return response.json()
            })
            .then(data => {
                document.getElementById("location").innerHTML = data.results[4].formatted_address;
            })
            .catch(err => {
                throw (`Sorry, en error occured ${err}.`);
            })
    };

    function convertDay(time) {
        var date = new Date(time*1000);
        return date.toString().substring(0,3);
    }

    function convertHour(time) {
        var date = new Date(time*1000);
        var hours = date.getHours();
        if (hours > 12) {
            hours -= 12;
            return hours.toString() + ":00 PM";
        } else {
            return hours.toString() + ":00 AM";
        }
        }

    // Zip code converter function -- WIP (Moving to controller)
    //function zipToLatLong(zipcode, callbackFunction) 
    //    {
	   //     if (zipcode!="")
	   //     {
		  //      $.ajax({
			 //       url: 'https://api.promaptools.com/service/us/zip-lat-lng/get/?zip='+zipcode+'&key='+FMTkey,
			 //       type: "GET",
			 //       dataType: 'JSON',
			 //       success: function (result) {
				//        if (result.status == "-3") 
				//        {
				//	        //No results
				//	        console.log("Geocode was not successful ("+zipcode+")(-3)");
				//        }
				//        else if (result.status == "1") 
				//        {
				//	        callbackFunction(result.output[0],zipcode);
				//	        global_postcode=zipcode;
				//        }
				//        else {
				//	        console.log("Geocode was not successful for the following reason: " + result.msg);
				//        }
			 //       },
				//        error: function (x, y, z) {
				//        alert(y);
			 //       }
		  //      });

	   //     }
    //    }

</script>
